body {
    font-family: Arial, sans-serif;
    display: flex;
    color: rgb(238, 231, 231);
    background-color: black;
    align-items: center;
    justify-content: center;
  }
  #header
  {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }